<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>
<h2>자유게시판 - 목록</h2>
<div class="searchGroup">
    <form action method="get">
        <span>등록일</span>
        <label>
            <input type="date" name="startDate" th:value="${#strings.substring(searchFilter.getStartDate(),0,10)}">
        </label>
        -
        <label>
            <input type="date" name="endDate" th:value="${#strings.substring(searchFilter.getEndDate(),0,10)}">
        </label>
        <label>
            <select name="category">
                <option value="0" selected>전체 카테고리</option>
                <option th:each="category : ${categoryList}" th:text="${category.getName()}" th:value="${category.getId()}">
                </option>
            </select>
        </label>
        <label>
            <input type="text" name="searchText" placeholder="검색어를 입력해주세요. (제목+작성자+내용)" th:value="${searchFilter.getSearchText()}">
        </label>
        <input type="submit" value="검색"/>
    </form>
</div>

<div>
    <p th:text="'총 ' + ${pagination.getTotalCount()} + '개'"></p>
</div>
<div>
    <table>
        <thead>
            <tr>
                <td>카테고리</td>
                <td>첨부</td>
                <td>제목</td>
                <td>작성자</td>
                <td>조회수</td>
                <td>등록일시</td>
                <td>수정일시</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boardList}">
                <th th:text="${board.categoryName}"></th>
                <td></td>
                <td><a th:if="${searchFilter.searchText == ''}" th:href="@{/board/free/view(id=${board.id},pageNum=${pagination.getPageNum()})}"
                       th:text="${ #strings.length(board.title) > 80 ? #strings.concat(#strings.substring(board.title,0,80), '...') : board.title}"></a>
                    <a th:unless="${searchFilter.searchText == ''}"
                       th:href="@{/board/free/view(id=${board.id},pageNum=${pagination.getPageNum()}, searchText=${searchFilter.searchText}, category=${searchFilter.category}
                       , startDate=${#strings.substring(searchFilter.startDate,0,10)}, endDate=${#strings.substring(searchFilter.endDate,0,10)})}"
                       th:text="${ #strings.length(board.title) > 80 ? #strings.concat(#strings.substring(board.title,0,80), '...') : board.title}"></a>
                </td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.viewCount}"></td>
                <td th:text="${#strings.substring(board.getRegistrationDate(),0,16)}"></td>
                <td th:text="${board.getModificationDate() != null ? #strings.substring(board.getModificationDate(),0,16) : '-'}"></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <nav>

<!--        첫번째 페이지로-->
        <a th:href="@{'list?pageNum=1'}">&laquo; </a>

<!--        이전 페이지-->
        <a th:if="${pagination.prev}" th:href="@{'list?pageNum='+${pagination.getPageNum()-1}}">Prev </a>
        <a th:unless="${pagination.prev}" href="javascript:void(0)">Prev </a>

<!--            페이지 번호-->
        <span th:each="i : ${#numbers.sequence(pagination.getBeginPage(), pagination.getEndPage())}">
            <span th:if="${i == pagination.getPageNum()}" href="javascript:void(0)" th:text="${i}"></span>
            <a th:unless="${i == pagination.getPageNum()}"
               th:href="@{'list?pageNum='+${i}
               + '&startDate='+${#strings.substring(searchFilter.getStartDate(),0,10)}
               + '&endDate='+${#strings.substring(searchFilter.getEndDate(),0,10)}
               + '&searchText='+${searchFilter.getSearchText()}
               + '&category='+${searchFilter.getCategory()}}">
                <span th:text="${i}"></span>
            </a>
        </span>

<!--        다음 페이지-->
        <a th:if="${pagination.next}" th:href="@{'list?pageNum='+${pagination.getPageNum()+1}}">Next </a>
        <a th:unless="${pagination.next}" href="javascript:void(0)">Next </a>

<!--        마지막 페이지로-->
        <a th:href="@{'list?pageNum='+${pagination.lastPage}}">&raquo; </a>
    </nav>
</div>
<div class="list_button">
    <a th:href="@{'write?pageNum='+${pagination.getPageNum()}}">등록 </a>
</div>
</body>
</html>