<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>title</title>
    <script>

        /**
         * 댓글 등록 버튼 클릭시 내용이 없으면 false 반환
         * @returns {boolean}
         */
        function checkForm() {
            let content = document.getElementById("content").value.trim();

            if (content === "" ){
                alert("댓글을 입력해주세요");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<h2>자유게시판 - 보기</h2>
<div>
    <span th:text="${board.writer}"></span>
    <span th:text="${#strings.substring(board.registrationDate,0,16)}"></span>
    <span th:text="${board.modificationDate != null ? #strings.substring(board.modificationDate,0,16) : '-'}"></span>
</div>
<hr>
<div>
    <span th:text="${board.categoryName}"></span>
    <span th:text="${board.title}"></span>
    <span th:text="${board.viewCount}"></span>
</div>
<hr>
<div>
    <p th:text="${board.content}"></p>
</div>
<hr>
<div>
    <p>첨부파일</p>
    <div th:if="${fileList.isEmpty()}">
        <p>첨부파일이 없습니다.</p>
    </div>
    <div th:unless="${fileList.isEmpty()}" th:each="file:${fileList}">
        <span>첨부파일</span>
        <a th:text="${file.getOriginName()}" th:href="@{'/download/' + ${file.getId()}}"></a>
        <br>
    </div>
</div>
<hr>
<div style="background-color: beige">
    <div th:if="${commentList.isEmpty()}">
        <p>댓글이 없습니다.</p>
    </div>
    <div th:unless="${commentList.isEmpty()}" th:each="comment:${commentList}">
        <p th:text="${#strings.substring(comment.registrationDate,0,16)}"></p>
        <span th:text="${comment.content}"></span>
        <hr>
    </div>
    <div>
        <form action method="post" onsubmit="return checkForm()">
            <label><textarea rows="3" cols="112" name="content"></textarea></label>
            <input type="submit" value="등록">
        </form>
    </div>
</div>
<div th:if="${searchFilter.searchText == null}">
    <button type="button" th:onclick="|location.href='@{/board/free/list(pageNum=${pagination.pageNum})}'|">목록</button>
    <button type="button" th:onclick="|location.href='@{/board/free/modify/{id}(id=${id},pageNum=${pagination.pageNum})}'|">수정</button>
    <button type="button" th:onclick="|location.href='@{/board/free/delete/{id}(id=${id}, pageNum=${pagination.pageNum})}'|">삭제</button>
</div>
<div th:unless="${searchFilter.searchText == null}">
    <button type="button" th:onclick="|location.href='@{/board/free/list(pageNum=${pagination.pageNum}, searchText=${searchFilter.searchText}, category=${searchFilter.category}, startDate=${#strings.substring(searchFilter.startDate,0,10)}, endDate=${#strings.substring(searchFilter.endDate,0,10)})}'|">목록</button>
    <button type="button" th:onclick="|location.href='@{/board/free/modify(id=${id}, pageNum=${pagination.pageNum}, searchText=${searchFilter.searchText}, category=${searchFilter.category}, startDate=${#strings.substring(searchFilter.startDate,0,10)}, endDate=${#strings.substring(searchFilter.endDate,0,10)})}'|">수정</button>
    <button type="button" th:onclick="|location.href='@{/board/free/delete(id=${id}, pageNum=${pagination.pageNum}, searchText=${searchFilter.searchText}, category=${searchFilter.category}, startDate=${#strings.substring(searchFilter.startDate,0,10)}, endDate=${#strings.substring(searchFilter.endDate,0,10)})}'|">삭제</button>
</div>
</body>
</html>