<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>title</title>
    <script type="text/javascript" th:src="@{/validateForm.js}"></script>
    <script>
        function inputValidCheck() {

            let category = document.getElementById("category").value.trim();
            let writer = document.getElementById("writer").value.trim();
            let password = document.getElementById("password").value.trim();
            let confirmPassword = document.getElementById("confirmPassword").value.trim();
            let title = document.getElementById("title").value;
            let content = document.getElementById("content").value;

            if (inValidCategory(category)){
                alert("카테고리를 선택해주세요.");
                return false;
            }

            if (inValidWriter(writer)){
                alert("작성자는 3글자 이상 5글자 미만이어야 합니다.");
                return false;
            }

            if (passwordMismatch(password, confirmPassword)){
                alert("비밀번호가 일치하지 않습니다. ");
                return false;
            }

            if (inValidPassword(password)){
                alert("비밀번호는 4글자 이상 16글자 미만, 영문/숫자/특수문자(@#$%^&+=) 포함되어야 합니다. ");
                return false;
            }

            if (inValidTitle(title)){
                alert("제목은 4글자 이상 100글자 미만이어야 합니다.");
                return false;
            }

            if (inValidContent(content)){
                alert("내용은 4글자 이상 2000글자 미만이어야 합니다.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<h2>자유게시판 - 글쓰기</h2>

<form action method="post" enctype="multipart/form-data" onsubmit="return inputValidCheck()">
    <label>카테고리:</label>
    <select name="categoryId" id="category">
        <option value="" disabled selected>카테고리 선택</option>
        <option th:each="category : ${categoryList}" th:text="${category.getName()}" th:value="${category.getId()}">
        </option>
    </select>
    <br>
    <label for="writer">작성자:</label>
    <input type="text" name="writer" id="writer">
    <br>
    <label for="password">비밀번호:</label>
    <input type="password" name="password" id="password" placeholder="비밀번호">
    <br>
    <label for="confirmPassword">비밀번호 확인:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="비밀번호 확인">
    <br>
    <label for="title">제목:</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="content">내용:</label>
    <textarea name="content" id="content" rows="5"></textarea>
    <br>
    <label>파일 첨부:</label><br>
    <input type="file" name="file"><br>
    <input type="file" name="file"><br>
    <input type="file" name="file"><br>
    <br>
    <button th:if="${searchFilter.searchText == null}" type="button" th:onclick="|location.href='@{/board/free/list(pageNum=${pagination.pageNum})}'|">취소</button>
    <button th:unless="${searchFilter.searchText == null}" type="button" th:onclick="|location.href='@{/board/free/list(pageNum=${pagination.pageNum}, searchText=${searchFilter.searchText}, category=${searchFilter.category}, startDate=${#strings.substring(searchFilter.startDate,0,10)}, endDate=${#strings.substring(searchFilter.endDate,0,10)})}'|">취소</button>
    <input type="submit" id="submitButton" value="글쓰기">
</form>
</body>
</html>