<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebstudytemplates3week.mapper.CommentMapper">

    <select id="getCommentByBoardId">
        SELECT *
        FROM comment
        WHERE board_id = #{id}
    </select>

    <insert id="insertComment">
        INSERT INTO comment (id, board_id, registration_date, content)
        VALUES (default, #{boardId}, default, #{content})
    </insert>
<!--쿼리에서 명시적으로 표시 now()-->
</mapper>