<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebstudytemplates3week.mapper.FileMapper">

    <insert id="addFile">
        INSERT INTO file (board_id, origin_name, stored_name, size)
        VALUES (#{boardId}, #{originName}, #{storedName}, ${size})
    </insert>

    <select id="getFilesByBoardId">
        SELECT *
        FROM file
        WHERE board_id = #{id}
    </select>

    <select id="getFileIdsByBoardId">
        SELECT id
        FROM file
        WHERE board_id = #{id}
    </select>

    <select id="getFileInfoByFileId">
        SELECT *
        FROM file
        WHERE id = #{id}
    </select>

    <delete id="deleteFile">
        DELETE
        FROM file
        WHERE id = #{id}
    </delete>
</mapper>